<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%- translation['title'] %></title>
  <link href="https://www.zanibet.com/mob/resetpassword.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div id="validation-message" class="validation-message">
    <div id="message" class="message">

    </div>
    <a id="close" class="close-message">
      <i class="fa fa-close" aria-hidden="true"></i>
    </a>
  </div>

  <div class="login-box">
    <h1><%- translation['reset-password'] %></h1>
    <div class="form">
      <form class="reset-form">
        <input type="password" id="password" autocomplete="new-password" placeholder="<%- translation['new-password'] %>" required/>
        <input type="password" id="confirmPassword" autocomplete="new-password" placeholder="<%- translation['confirm-new-password'] %>" required/>
        <button id="submitButton" type="submit"><%- translation['submit-new-password'] %></button>
      </form>
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://www.zanibet.com/mob/resetpassword.js"></script>
</body>
</html>
